.wpcf7 {
	&-not-valid {
		border-color: $color-alert-error !important;
		box-shadow: 0 0 4px 1px rgba($color-alert-error, .4);
		transition: .2s;

		&:focus {
			box-shadow: 0 0 0 rgba($color-alert-error, .4);
		}

		&-tip {
			font-size: $font-size-small !important;
			color: $color-alert-error;
		}
	}
}

div.wpcf7 {
	&-response-output {
		position: relative;
		margin: 20px 0 0;
		padding: 15px 30px;
		border: 0;
		background-color: $color-gray-lighter;

		&:before {
			content: '';
			position: absolute;
			top: -10px;
			left: 30px;
			border-bottom: 10px solid $color-gray-lighter;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
		}

		&.wpcf7 {
			&-mail-sent-ok {
				color: $color-alert-success;
				background-color: rgba($color-alert-success, .2);

				&::before {
					border-bottom-color: rgba($color-alert-success, .2);
				}
			}
		}
	}
}
