.m-gallery {
	&__image {
		height: 0;
		padding: 8.3333%;
		background-color: $color-gray-darker;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 105%;
		will-change: background;
		transition: .3s;

		&:hover {
			background-size: 125%;
		}
	}

	&__dialog {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-25%) rotateX(-45deg) scale(.6);
		visibility: hidden;
		max-width: 80%;
		max-height: 90%;
		padding: 20px;
		font-size: 0;
		line-height: 0;
		opacity: 0;
		background-color: $color-white;
		transition: .4s;

		> img {
			max-width: 100%;
			max-height: 100%;
		}

		@include breakpoint (lg down) {
			max-width: 100%;
			max-height: 100%;
		}

		.close {
			position: absolute;
			top: 0;
			right: 0;
			width: 60px;
			height: 60px;
			background-color: $color-white;
			border: 0;
			cursor: pointer;
		}

		&.is-opened {
			visibility: visible;
			transform: translateX(-50%) translateY(-50%) rotateX(0deg) scale(1);
			opacity: 1;
		}

		&-overflow {
			position: fixed;
			top: 0;
			left: 0;
			z-index: -1;
			visibility: hidden;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-color: rgba($color-black, .6);
			perspective: 600px;
			transition: .4s ease-in-out .15s, z-index 0s linear .6s;

			&.is-opened {
				z-index: 1090;
				visibility: visible;
				opacity: 1;
				transition: .4s;
			}
		}
	}
}
