.c-aboutUs {
	align-items: flex-start;
	margin-top: 180px;

	@include breakpoint (md only) {
		margin-top: 120px;
	}

	@include breakpoint (sm down) {
		margin-top: 90px;
	}

	&__excerpt,
	&__more {
		z-index: +1;
		padding: 40px 20px !important;

		@include breakpoint (md) {
			padding: 60px 70px !important;
		}
	}

	&__excerpt {
		background-color: $color-white;
		box-shadow: 0 20px 120px rgba($color-black, .15);

		hr {
			margin-top: -120px;
			margin-left: 0;
			margin-bottom: 0;

			@include breakpoint (md down) {
				display: none;
			}
		}
	}

	&__more {
		background-color: $color-brand-primary;

		@include breakpoint (lg) {
			margin-top: 120px;
		}

		p:first-child {
			display: none;
		}

		h2:nth-child(2) {
			margin-top: 0;
		}
	}

	&__background {
		height: 500px;
		background-size: cover;
		background-attachment: fixed;

		@include breakpoint (lg) {
			margin-top: -250px;
		}
	}

	h1 {
		margin-top: 24px;

		@include breakpoint (md down) {
			margin-top: 0;
		}
	}
}
