.c-centered {
	margin-top: 60px;
	margin-bottom: 180px;

	@include breakpoint (md only) {
		margin-bottom: 80px;
	}

	@include breakpoint (sm down) {
		margin-bottom: 40px;
	}

	hr {
		width: 204px;
		transform-origin: left center;
		transform: translateX(50%) rotate(-90deg);
	}

	a {
		position: relative;
		display: inline-block;
		margin-top: 20px !important;
		padding: 5px 20px;

		&::after {
			@extend hr;

			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			z-index: 0;
			transform: translateX(-50%);
			width: 0;
			background-position: 50% 0;
			transition: width .5s;
		}

		&:hover {
			&::after {
				width: 100%;
			}
		}
	}
}
