.c-contact {
	padding-top: 112px;
	padding-bottom: 80px;
	background-color: $color-white;
	box-shadow: 0 -20px 160px rgba($color-black, .1);

	@include breakpoint (md down) {
		padding-top: 80px;
	}

	body.home & {
		box-shadow: none;
	}

	&__form {
		@include breakpoint (sm down) {
			order: 2;
		}

		label {
			display: block;
			margin: 20px 0;
			font-size: 0;

			strong,
			input:not([type='checkbox']):not([type='radio']),
			select,
			textarea {
				display: block;
			}

			strong {
				margin-bottom: .5em;
				font-size: $font-size-small;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: .1em;
				color: $color-gray;
			}

			input:not([type='checkbox']):not([type='radio']),
			select,
			textarea {
				width: 100%;
				padding: 10px 20px;
				font-size: $font-size-base;
				color: $color-gray-dark;
				background-color: $color-white;
				border: 1px solid $color-gray-light;
				border-radius: 0;
			}

			input:not([type='checkbox']):not([type='radio']),
			select {
				height: 40px;
			}

			select {
				-webkit-appearance: none;
				display: inline-block;
				vertical-align: top;
				background-color: transparent;
			}

			&.is-select {
				&::after {
					content: '▾';
					display: inline-block;
					vertical-align: top;
					width: 40px;
					height: 40px;
					margin-left: -40px;
					padding: 9px 10px 11px;
					font-size: $font-size-base;
					text-align: center;
					color: $color-gray;
					border: 1px solid $color-gray-light;
				}
			}

			&.is-required {
				strong {
					&::after {
						content: '';
						display: inline-block;
						vertical-align: middle;
						width: 4px;
						height: 4px;
						margin-bottom: 2px;
						margin-left: 6px;
						background-color: $color-alert-error;
						border-radius: 2px;
					}
				}
			}
		}

		button {
			@extend .btn;

			margin-top: 20px;
		}
	}

	&__info {
		@include breakpoint (sm down) {
			margin-bottom: 40px;
		}

		h1 {
			@include breakpoint (sm down) {
				margin-top: 0;
			}
		}
	}
}
