.c-cruiseDialog {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1080;
	width: 100%;
	height: 100%;
	padding: 20px;
	background-color: $color-white;
	overflow: hidden;
	box-shadow: 0 20px 100px rgba($color-black, .3);
	will-change: opacity, transform;
	transition: .5s;

	&:not(.is-opened) {
		visibility: hidden;
		opacity: 0;
		transform: translateY(50vw);
	}

	&.is-opened {
		visibility: visible;
		opacity: 1;
		transform: translateY(0px);
	}

	&__main {
		height: 100%;
		overflow-y: auto;
	}

	&__header {
		position: fixed;
		top: 0;
		z-index: +1;
		width: calc(100% - 40px) !important;

		.m-icon {
			display: block;
			width: 60px;
			height: 60px;
			margin-left: auto;
			font-size: 0;
			background-color: $color-white;
			border: 0;
			cursor: pointer;
		}
	}

	&__content {
		padding: 60px 0;
	}

	&__gallery {
		background-color: $color-brand-primary;

		.m-mapCanvas {
			margin-left: -10px;
			margin-right: -10px;
		}

		.m-gallery {
			width: calc(100% + 20px);
			
			&__image {
				padding: 33.3333%;

				@include breakpoint (sm) {
					padding: 25%;
				}

				@include breakpoint (md) {
					width: 25% !important;
					padding: 12.5%;
				}

				@include breakpoint (lg) {
					width: 33.3333% !important;
					padding: 16.6666%;
				}
			}
		}
	}

	&__form {
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px solid $color-gray-light;

		.m-cruisePrice {
			display: inline-block;
			vertical-align: middle;
			margin-right: 40px;
			font-size: 20px;
			font-weight: 700;

			small {
				display:block;
				font-size: $font-size-base;
			}
		}

		.m-cruisePurchase {
			padding: 40px 0;

			label {
				display: block;
				margin: 20px 0;
				font-size: 0;

				strong,
				input:not([type='checkbox']):not([type='radio']),
				select,
				textarea {
					display: block;
				}

				strong {
					margin-bottom: .5em;
					font-size: $font-size-small;
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: .1em;
					color: $color-gray;
				}

				input:not([type='checkbox']):not([type='radio']),
				select,
				textarea {
					width: 100%;
					padding: 10px 20px;
					font-size: $font-size-base;
					color: $color-gray-dark;
					background-color: $color-white;
					border: 1px solid $color-gray-light;
					border-radius: 0;
				}

				input:not([type='checkbox']):not([type='radio']),
				select {
					height: 40px;
				}

				select {
					-webkit-appearance: none;
					display: inline-block;
					vertical-align: top;
					background-color: transparent;
				}

				&.is-select {
					&::after {
						content: '▾';
						display: inline-block;
						vertical-align: top;
						width: 40px;
						height: 40px;
						margin-left: -40px;
						padding: 9px 10px 11px;
						font-size: $font-size-base;
						text-align: center;
						color: $color-gray;
						border: 1px solid $color-gray-light;
					}
				}

				&.is-required {
					strong {
						&::after {
							content: '';
							display: inline-block;
							vertical-align: middle;
							width: 4px;
							height: 4px;
							margin-bottom: 2px;
							margin-left: 6px;
							background-color: $color-alert-error;
							border-radius: 2px;
						}
					}
				}
			}

			button {
				@extend .btn;

				display: inline-block;
				margin-top: 20px;
			}
		}
	}
}
