.c-cruises {
	margin-top: 160px;
	margin-bottom: 80px;

	@include breakpoint (md only) {
		margin-top: 120px;
	}

	@include breakpoint (sm down) {
		margin-top: 90px;
	}

	h1 {
		margin-bottom: 50px;

		strong {
			font-family: $font-family-base;
		}
	}

	&__list {
		margin-top: 80px;
	}
}

.m-cruiseItem {
	$this: &;

	position: relative;
	overflow: hidden;
	height: 260px;
	transition: .6s;
	text-decoration: none;
	background-color: $color-brand-secondary;
	box-shadow: inset 0 0 0 10px $color-gray-lighter;

	@include breakpoint (sm only) {
		&:nth-child(3) {
			width: 100% !important;
		}
	}

	@include breakpoint (lg only) {
		&:nth-child(3) {
			width: 100% !important;
		}
	}

	@include breakpoint (xl) {
		height: 540px;
	}

	&__thumb {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		box-shadow: inset 0 0 0 10px $color-gray-lighter;
		transition: .6s;
	}

	&__title {
		position: relative;
		margin: 70px 40px 10px;
		font-size: 24px;
		font-weight: 400;
		line-height: 1.2em;
		color: $color-white;
		transition: .6s;
	}

	&__date {
		position: relative;
		margin: 30px 40px;
		color: $color-brand-primary;
		text-shadow: 0 1px 2px rgba($color-black, .3);
	}

	&:hover {
		box-shadow: inset 0 0 0 20px $color-gray-lighter;

		#{$this} {
			&__thumb {
				transform: scale(1);
				box-shadow: inset 0 0 0 20px $color-gray-lighter;
				opacity: .6;
			}
		}
	}
}
