.c-siteFooter {
	position: relative;
	z-index: +1;
	padding-bottom: 20px;
	font-size: $font-size-small;
	color: $color-gray;
	background-color: $color-white;

	&__hr {
		hr {
			width: 100%;
			height: 0;
			margin-top: 0;
			margin-bottom: 40px;
			background: none;
			border-bottom: 1px solid $color-gray-lighter;
		}
	}

	&__copy {
		em {
			display: inline-block;
			vertical-align: middle;
			margin: 0 3px;
			font-size: 1.4em;
			font-style: normal;
			font-weight: 700;
			color: $color-brand-primary;
		}
	}
}
