.c-gallery {
	body.home & {
		margin-top: 80px;
		padding-bottom: 260px;
		background: rgba($color-brand-primary, .6);
		box-shadow: 0 -200px 200px rgba($color-brand-primary, .6), inset 0 -260px 0 $color-white;

		@include breakpoint (sm down) {
			padding-bottom: 0;
			box-shadow: none;
			background-color: $color-white;
		}
	}

	.m-gallery {
		margin: 0 !important;

		&__image {
			padding: 33.3333%;

			@include breakpoint (sm) {
				padding: 25%;
			}

			@include breakpoint (md) {
				padding: 16.6666%;

				&:nth-child(3n+1) {
					transform: translateY(16.6666%);
				}

				&:nth-child(3n+2) {
					transform: translateY(66.6666%);
				}

				&:nth-child(3n+3) {
					transform: translateY(33.3333%);
				}
			}

			@include breakpoint (lg) {
				padding: 12.5%;

				&:nth-child(4n+1) {
					transform: translateY(16.6666%);
				}

				&:nth-child(4n+2) {
					transform: translateY(66.6666%);
				}

				&:nth-child(4n+3) {
					transform: translateY(33.3333%);
				}

				&:nth-child(4n+4) {
					transform: translateY(0);
				}
			}

			@include breakpoint (xl) {
				&:nth-child(6n+1),
				&:nth-child(6n+5) {
					transform: translateY(16.6666%);
				}

				&:nth-child(6n+2),
				&:nth-child(6n+6) {
					transform: translateY(66.6666%);
				}

				&:nth-child(6n+3) {
					transform: translateY(33.3333%);
				}

				&:nth-child(6n+4) {
					transform: translateY(0);
				}
			}
		}
	}
}
