html {
	margin: 10px;
	background: $color-white;

	@include breakpoint (md) {
		margin: 15px;
	}

	@include breakpoint (lg) {
		margin: 20px;
	}

	&::before,
	&::after {
		content: '';
		position: fixed;
		left: 0;
		z-index: 1090;
		width: 100%;
		height: 10px;
		background: $color-white;

		@include breakpoint (md) {
			height: 15px;
		}

		@include breakpoint (lg) {
			height: 20px;
		}
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}
}

body {
	min-height: calc(100vh - 20px);

	@include breakpoint (md) {
		min-height: calc(100vh - 30px);
	}

	@include breakpoint (lg) {
		min-height: calc(100vh - 40px);
	}

	&::before,
	&::after {
		content: '';
		position: fixed;
		top: 0;
		z-index: 1090;
		width: 10px;
		height: 100%;
		background: $color-white;

		@include breakpoint (md) {
			width: 15px;
		}

		@include breakpoint (lg) {
			width: 20px;
		}
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}

	&.no-scroll {
		overflow: hidden;
	}
}

hr {
	width: 53px;
	height: 10px;
	background-image: url('../images/hr.png');
	border: 0;
}

.c-siteBody {
	body.single-cruise & {
		margin-top: 60px;
		background-color: $color-white;
	}
}

.m-logotype {
	display: inline-block;
	width: 9.75em;
	height: .8125em;
	margin-left: .6em;
	margin-right: .6em;
}

.icon32 {
	width: 32px;
	height: 32px;
}
