$header-height: 80px;

.c-siteHeader {
	$this: &;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1060;
	justify-content: center;
	width: 100%;
	height: $header-height;
	padding: 10px 20px;
	transition: .3s;

	@include breakpoint (md down) {
		&.is-expanded {
			#{$this} {
				&__nav,
				&__background {
					height: 100vh;
				}
			}
		}
	}

	&__background {
		position: fixed;
		left: 0;
		top: 0;
		z-index: -1;
		width: 100%;
		height: $header-height;
		background-color: $color-white;
		box-shadow: 0 20px 180px rgba($color-black, .1);
		transition: transform .4s;
		will-change: transform;

		@include breakpoint (md down) {
			height: 60px;
			transition: height .3s;
			will-change: height;
		}
	}

	&__nav {
		align-items: stretch;
		align-content: center;
		justify-content: space-around !important;
		width: calc(100% - 200px);
		margin: 0;
		padding: 0;
		font-family: $font-family-heading;
		font-size: 16px;
		list-style: none;
		transition: width .6s;
		will-change: width;

		> .menu-item {
			display: flex;

			a {
				display: block;
				max-width: 110px;
				margin: auto;
				line-height: 20px;
				text-decoration: none;
				letter-spacing: .01em;
				text-shadow: none;
				color: $color-gray-light;
				transition: .3s;

				&:hover {
					color: $color-gray;
				}
			}

			> a {
				position: relative;

				&::before {
					content: '';
					position: absolute;
					bottom: -20px;
					left: 50%;
					transform: translateX(-50%);
					width: 0;
					height: 2px;
					background-color: $color-gray;
					transition: width .25s;
					will-change: width;
				}

				&:hover {
					&::before {
						width: 100%;
					}
				}
			}

			&.m-navLogo {
				visibility: visible;
				overflow: hidden;
				width: 160px;
				margin-left: 0;
				margin-right: 0;
				font-size: 0;
				transition: .6s;

				@include breakpoint (xl) {
					margin-left: calc(50% - 520px);
					margin-right: calc(50% - 520px);
				}

				a {
					position: relative;
					width: 100%;
					max-width: 100%;

					&::before {
						display: none;
					}

					&::after {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translateX(-80px) translateY(-50%);
						width: 160px;
						height: 100%;
						opacity: .6;
						background-image: url(../images/sailventure.svg);
						background-position: center;
						background-repeat: no-repeat;
						transition: opacity .3s;
					}

					&:hover {
						&::after {
							opacity: .7;
						}
					}
				}
			}

			&.pll-parent-menu-item {
				align-items: center;
				align-content: center;

				> a {
					display: none;
				}

				> ul {
					position: relative;
					width: 75px;
					margin: 0;
					padding: 0;
					list-style: none;

					> li {
						a {
							font-size: 0;
							line-height: 0;
							text-align: right;

							&::before {
								font-size: 16px;
								line-height: 20px;
							}

							&[hreflang="pl-PL"] {
								&::before {
									content: 'Pol';
								}
							}

							&[hreflang="en-GB"] {
								&::before {
									content: 'Eng';
								}
							}
						}

						&:first-child {
							a {
								text-align: left;
							}
						}

						&.current-lang {
							font-weight: 700;

							a {
								color: $color-gray;
							}
						}
					}

					&::after {
						content: '';
						position: absolute;
						top: 50%;
						left: 18px;
						width: 34px;
						border-top: 1px solid $color-gray-lighter;
						transform: rotate(-45deg);
					}
				}
			}
		}


		@include breakpoint (md down) {
			position: absolute;
			flex-direction: column;
			justify-content: flex-start !important;
			overflow: hidden;
			height: 0;
			padding-top: 80px;
			transition: height .3s;

			> .menu-item {
				display: block;
				width: 100%;
				text-align: left;

				a {
					max-width: 100%;
					padding: 20px 30px;
					text-align: left;
					color: $color-gray;

					&::before {
						left: 30px;
						right: 30px;
						bottom: 0;
						transform: none;
						width: auto;
						height: 1px;
						background-color: $color-gray-light;
					}
				}

				&.m-navLogo {
					position: absolute;
					left: 30px;
					top: -5px;
				}
			}
		}
	}

	&__navToggle {
		display: none;

		@include breakpoint (md down) {
			position: absolute;
			top: 0;
			right: 10px;
			z-index: +1;
			display: block;
			width: 60px;
			height: 60px;
		}
	}

	@include breakpoint (lg) {
		body.home & {
			&:not(.is-affixed) {
				position: relative;
				height: 0;

				#{$this} {
					&__background {
						transform: translateY(-100%);
						box-shadow: 0 0 0 rgba($color-black, .1);
					}

					&__nav {
						width: 60%;
						height: $header-height;

						@include breakpoint (lg) {
							width: 80%;
						}

						@include breakpoint (xl) {
							width: 60%;
						}

						> .menu-item {
							a {
								text-shadow: 0 2px 8px rgba($color-black, .3);
								color: $color-white;
							}

							> a {
								&::before {
									bottom: -30px;
									background-color: rgba($color-white, .3);
								}
							}

							&.m-navLogo {
								visibility: hidden;
								width: 0;
								margin-left: -60px;
								margin-right: -60px;

								a {
									&::after {
										opacity: 0;
									}
								}
							}

							&.pll-parent-menu-item {
								> ul {
									>li {
										&.current-lang {
											a {
												color: $color-white;
											}
										}
									}

									&::after {
										border-top: 1px solid rgba($color-white, .3);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
