.c-homePage {
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 0;

	@media (orientation: portrait) {
		background-size: 300%;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: calc(50vh + 104px);
		left: 50%;
		width: 140%;
		border-bottom: 1px solid rgba($color-gray-lighter, .2);
	}

	&::before {
		transform: translateX(-50%) rotate(-45deg);
	}

	&::after {
		transform: translateX(-50%) rotate(45deg);
	}

	&__heroBanner {
		flex-direction: column;
		align-content: center;
		align-items: center;
		min-height: calc(100vh - 40px);
		margin-bottom: 80px;
		padding: 100px 0;
		color: $color-white;

		.m-siteLogo {
			display: block;
			width: 66.6666vw;
			max-width: 300px;
			height: 25,0875vw;
			max-height: 113px;
		}

		.m-content {
			margin-top: 70px;
			margin-bottom: 100px;

			@include breakpoint (sm down) {
				margin-top: 50px;
				margin-bottom: 0;
			}

			h3 {
				line-height: 1.5em;
				letter-spacing: .01em;
				color: $color-brand-primary;

				@include breakpoint (sm down) {
					font-size: 20px;
				}
			}

			hr {
				margin: 70px auto 25px;
			}

			p {
				font-size: $font-size-large;
				letter-spacing: .04em;
			}
		}
	}
}
