@mixin breakpoint ($breakpoint) {
	@if $breakpoint {
		@if map-has-key($breakpoints, $breakpoint) {
			@media (min-width: #{map-get($breakpoints, $breakpoint)}px) {
				@content;

			}
		}

		@elseif str-index(#{$breakpoint}, ' down') {
			@each $name, $pixels in $breakpoints {
				@if str-index(#{$breakpoint}, $name + ' ') {
					@if map-get-next($breakpoints, $name) {
						@media (max-width: #{map-get-next($breakpoints, $name) - 1}px) {
							@content;
						}
					}
				}
			}
		}

		@elseif str-index(#{$breakpoint}, ' only') {
			@each $name, $pixels in $breakpoints {
				@if str-index(#{$breakpoint}, $name + ' ') {
					@if map-get-next($breakpoints, $name) {
						@media (min-width: #{map-get($breakpoints, $name)}px) and (max-width: #{map-get-next($breakpoints, $name) - 1}px) {
							@content;
						}
					}
				}
			}
		}
	}
}
