// Table of contents:
//
// 1. Grid
// 2. Colors
// 3. Fonts

// 1. Grid
// -------

$grid-container-width: 1200px;
$grid-container-padding: 15px;

$grid-column-count: 12;
$grid-column-gutter: 10px;

$breakpoints: (
	xs: 0,
	sm: 480,
	md: 640,
	lg: 900,
	xl: 1200
);

// 2. Colors
// ---------

$color-white: #fff;
$color-black: #181818;

$color-gray-lighter: #eee;
$color-gray-light: #ccc;
$color-gray: #898989;
$color-gray-dark: #555;
$color-gray-darker: #333;

$color-brand-primary: #8ae1dc;
$color-brand-secondary: $color-gray-darker;
$color-brand-accent: $color-brand-secondary;

$color-alert-success: green;
$color-alert-warning: $color-brand-primary;
$color-alert-error: #f00;


// 3. Fonts
// --------

$font-family-base: 'Montserrat', San Francisco, Helvetica, Segoe UI, Arial, sans-serif;
$font-family-heading: 'Glegoo', an Francisco, Helvetica, Segoe UI, Arial, sans-serif;

$font-size-base: 14px;
$font-size-small: 12px;
$font-size-large: 16px;
