body {
	margin: 0;
	background-color: $color-gray-lighter;
}

*, *::before, *::after {
	box-sizing: border-box;
}

.align {
	&-right {
		text-align: right;
	}

	&-center {
		text-align: center;
	}

	&-left {
		text-align: left;
	}
}
