.btn {
	min-height: 40px;
	padding: 15px 30px;
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: $color-white;
	background-color: $color-brand-primary;
	border: 2px solid $color-brand-primary;
	cursor: pointer;
	transition: .2s;

	&:hover {
		background-color: darken($color-brand-primary, 10%);
		border-color: darken($color-brand-primary, 10%);
	}

	&-linear {
		@extend .btn;

		background-color: transparent;
	}

	&-invert {
		@extend .btn;

		&,
		&:hover {
			color: $color-brand-primary;
			background-color: $color-white;
			border-color: $color-white;
			box-shadow: 0 3px 10px rgba($color-black, .3);
		}

		&:hover {
			box-shadow: 0 1px 4px rgba($color-black, .5);
		}
	}

	&-block {
		@extend .btn;

		display: block;
		width: 100%;
	}
}
