.m-formRow {
	$this: &;

	position: relative;
	align-self: flex-end;
	margin: 15px 0;

	&:not(.is-valid) {
		#{$this} {
			&__control {
				border-color: $color-alert-error;
				box-shadow: 0 0 10px rgba($color-alert-error, .6);
			}

			&__required {
				background-color: $color-alert-error;
			}
		}
	}

	&__label {
		display: block;
		margin-bottom: .4em;
		font-size: $font-size-small;
		text-transform: uppercase;
		letter-spacing: .1em;
		color: $color-gray-dark;
	}

	&__description {
		display: block;
		margin-bottom: 10px;
		text-transform: none;
		letter-spacing: normal;
		color: $color-gray;
	}

	&__required {
		display: inline-block;
		vertical-align: middle;
		width: 5px;
		height: 5px;
		margin-bottom: 2px;
		background-color: $color-alert-warning;
		border-radius: 50%;
		font-size: 0;
		transition: background .2s;
	}

	&__control {
		width: 100%;
		height: 40px;
		margin: 0;
		padding: 11px;
		font-family: $font-family-base;
		font-size: $font-size-small;
		line-height: 1.4em;
		color: $color-gray;
		background-color: $color-white;
		box-shadow: none;
		border: 1px solid $color-gray-light;
		border-radius: 2px;
		transition: border .2s, box-shadow .2s, height .3s;

		&:focus {
			border-color: $color-gray;
			outline: none;
		}

		&[disabled] {
			opacity: .5;
		}
	}

	textarea {
		&#{$this}__control {
			height: calc(4.2em + 22px);
		}
	}

	select {
		&#{$this}__control {
			-webkit-appearance: none;
			position: relative;
			background: transparent;
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus {
			// Stupid hack just for remove the fucking yellow background on autocomplete
			transition: background-color 5000s ease-in-out 5000s;

			+ #{$this}__selectHandler {
				background-color: rgb(250, 255, 189);
			}
		}

		+ #{$this}__selectHandler {
			@extend .m-formRow__control;

			position: absolute;
			left: $grid-column-gutter;
			bottom: 0;
			z-index: -1;
			width: calc(100% - 2 * #{$grid-column-gutter});
			font-size: 0;
			border-color: transparent;

			.no-gutter & {
				left: 0;
				width: 100%;
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				display: block;
			}

			&::before {
				top: calc(50% - 2px);
				right: 11px;
				border-top: 5px solid $color-gray-dark;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
			}

			&::after {
				top: 0;
				right: 30px;
				height: 100%;
				border-left: 1px solid $color-gray-light;
			}
		}

		&[disabled] {
			+ #{$this}__selectHandler {
				opacity: .5;
			}
		}
	}

	[type='checkbox'] {
		display: none;

		+ #{$this}__label {
			position: relative;
			margin-bottom: 0;
			padding-top: 2px;
			padding-left: 30px;
			text-transform: none;
			letter-spacing: normal;

			&::before,
			&::after {
				content: '';
				position: absolute;
			}

			&::before {
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				background-color: $color-white;
				border: 1px solid $color-gray-light;
			}

			&::after {
				top: 4px;
				left: 4px;
				transform: rotate(-45deg);
				display: none;
				width: 12px;
				height: 8px;
				border-left: 2px solid $color-brand-primary;
				border-bottom: 2px solid $color-brand-primary;
			}
		}

		&:checked {
			+ #{$this}__label {
				&::after {
					display: block;
				}
			}
		}
	}

	&__errorMsg {
		position: absolute;
		top: 100%;
		right: 0;

		.no-gutter & {
			right: -$grid-column-gutter;
		}

		&::before {
			content: '';
			position: absolute;
			top: -20px;
			right: $grid-column-gutter;
			transform: translate(50%, -50%);
			display: block;
			width: 10px;
			height: 10px;
			background-color: $color-alert-error;
			border-radius: 50%;
			box-shadow: 0 0 10px $color-gray-lighter;
		}

		> span {
			visibility: hidden;
			opacity: 0;
			transform: translateY(0);
			display: block;
			padding: 8px 15px;
			font-size: $font-size-small;
			color: $color-white;
			background-color: $color-alert-error;
			transition: .2s;
		}

		&:hover {
			> span {
				visibility: visible;
				opacity: 1;
				transform: translateY(-10px);
			}
		}
	}
}

.m-formHeader {
	margin-top: 30px;

	&:first-child {
		margin-top: 0;
	}

	hr {
		border: 0;
		border-top: 1px solid $color-gray-light;
	}
}
