.icon {
	&-16, &-24,
	&-32, &-48 {
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
	}

	&-16 {
		width: 16px;
		height: 16px;
	}

	&-24 {
		width: 24px;
		height: 24px;
	}

	&-32 {
		width: 32px;
		height: 32px;
	}

	&-48 {
		width: 48px;
		height: 48px;
	}
}
