body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: 1.5em;
	letter-spacing: .02em;
	color: $color-gray-dark;
}

a {
	color: $color-brand-primary;
	text-decoration: none;
}

p {


	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
	line-height: 1em;
	color: $color-black;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	a {
		color: $color-gray-darker;
		text-decoration: none;
	}
}

h1, h2, h3,
.h1, .h2, .h3 {
	margin-bottom: 1em;
	font-family: $font-family-heading;
	line-height: 1em;
	letter-spacing: .02em;
}

h1, .h1 {
	font-size: 48px;

	@include breakpoint (sm down) {
		font-size: 36px;
	}

	+ h2, .h2 {
		margin-top: -30px;
		margin-bottom: 3.5em;
		font-family: $font-family-base;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .1em;
		color: $color-brand-primary;
	}
}

h2, .h2 {
	font-size: 36px;

	@include breakpoint (sm down) {
		font-size: 30px;
	}
}

h3, .h3 {
	font-size: 24px;
	font-weight: 400;
}

h4, h5, h6,
.h4, .h5, .h6 {
	margin-top: 2.25em;
	font-family: $font-family-base;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .1em;
}

article {
	ol, ul {
		list-style: none;

		> li {
			&:not(:last-child) {
				margin-bottom: .5em;
			}
		}

		&:not(:last-child) {
			margin-bottom: 2em;
		}
	}

	ol {

	}

	ul {
		> li {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				left: -40px;
				top: .4em;
				width: 15px;
				height: 10px;
				background-image: url('../images/hr.png');
				background-position: -1px 0;
			}
		}
	}
}
